/* Estilos para a página de agendamento */
body {
    font-family: 'Arial', sans-serif;
    margin-top: 75px;
}

/* Formulário de agendamento */
.agendamento {
    background-color: #f4f4f4;
    padding-top: 80px;
}

.agendamento form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.agendamento .form-control {
    border-radius: 5px;
}

.agendamento .btn-purple {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.agendamento .btn-purple:hover {
    background-color: #4b0082;
}

/* Navbar */
.navbar-light .navbar-brand {
    color: #6a0dad !important;
}

.navbar-light .nav-link {
    color: #6a0dad !important;
}

.navbar-light .nav-link:hover {
    color: #4b0082 !important;
}

.text-purple {
    color: #6a0dad !important;
}

/* Footer */
footer {
    background-color: #6a0dad; /* Fundo do footer em roxo */
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.navbar-light .nav-link:focus, .navbar-light .navbar-brand:focus, .btn:focus {
    outline: 3px solid #ff6f61;
    outline-offset: 2px;
}
