body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #4b0082; /* Cor roxa */
}

header h1 {
    font-size: 2rem;
    color: #ffffff;
}

header .btn {
    background-color: #ffffff; 
    border: none;
    color: #4b0082;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

header .btn:hover {
    background-color: #6602ad; /* Cor roxa mais clara */
    color: #fff;
}

.professional-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.professional-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.professional-card img {
    width: 100%;
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

.professional-card h4 {
    color: #4b0082;
    margin-top: 15px;
    font-size: 1.5rem;
}

.professional-card p {
    color: #333333;
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5;
}

footer {
    background-color: #4b0082; /* Cor roxa */
    color: #fff;
    font-size: 0.9rem;
    padding: 10px 0;
}
